.landing {
    display: flex;
    flex-direction: column;
    position: relative;
    padding-top: 130px;
    z-index: 1;
    
    .pattern {
        display: flex;
        justify-content: flex-start;
        background-color: #4801cc;

        .image-left {
            height: 600px;
        }

        .pattern-text {
            display: flex;
            flex-direction: column;
            align-items: start;
            justify-content: space-evenly;
            margin: 30px;
            width: 50%;

            h1 {
                color: yellow;
            }

            p {
                color: rgb(255, 255, 255);
            }
        }
    }

    .guest {
        display: flex;
        justify-content: space-evenly;

        .guest-text {
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 50px;

            h1 {
                color: rgb(255, 251, 0);
            }

            p {
                color: rgb(255, 255, 255);
            }
        }
    }

    .cta-bg {
        background: url('../../assets/banner.jpg');
        background-size: cover;
        background-attachment: fixed;
        background-position: center center;
        height: 500px;
        position: relative;
    }

    .introduce {
        display: flex;
        justify-content: flex-start;

        .image-left {
            height: 600px;
        }

        .pattern-text {
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 50px;

            h1 {
                color: rgb(229, 255, 0);
            }

            p {
                color: rgb(255, 255, 255);
            }
        }
    }

    .rooms {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        background-color: #4801cc;
        padding: 60px;

        .room-card {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;

            .card {
                margin: 50px;
            }
        }
    }
}