.e-room {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background: #000000;
    padding: 250px 40px 40px 40px;

    .position {
        position: fixed;
    }

    .gallery {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-wrap: wrap;

        .card-title {
            color: rgb(97, 7, 96);
        }
    
        .card {
            margin: 20px;
        }
    }
}