.management {
    display: flex;
    flex-direction: column;

    .goulty {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #181818;

        .carousel {
            width: 50%;
        }
    }
}