.header {
    display: flex;
    flex-direction: column;
    background: #e4d102;
    height: 160px;
    position: fixed;
    width: 100%;
    z-index: 2;

    .baner {
        display: flex;
        justify-content: space-between;
        height: 100px;
        padding-left: 40px;
        padding-right: 40px;

        .logo {
            height: 90px;
            margin: 5px;
        }

        .auth {
            display: flex;
            justify-content: center;
            align-items: center;

            .dropdown-menu.show {
                background-color: #e4d102;
            }

            .dropdown-item {
                background-color: #e4d102;

                &:hover {
                    background-color: #c2b200;
                    color: yellow;
                }
            }

            .btn-primary {
                background-color: #e4d102;
                border-color: #e4d102;
            }

            a {
                color: white;
                text-decoration: none;

                a:hover {
                    color: yellow;
                }
            }
        }
    }
    
    .menu {
        display: flex;
        justify-content: space-around;
        align-items: center;
        background: #cdb800;
        padding-right: 80px;
        height: 65px;

        .menu-btn {
            display: flex;

            a {
                border-bottom: solid 4px #7f7200;
                color: white;
                font-size: 18px;
                font-family: Trajan Pro;
                text-decoration: none;
                padding: 17px;

                &:hover {
                    background: #d1bd04;
                    border-bottom: solid 4px yellow;
                    color: yellow;
                    padding: 17px;
                }
            }

            .active {
                background: #7a7a00;
                border-bottom: solid 4px yellow;
                color: yellow;
                padding: 17px;
            }
        }

        .search {
            display: flex;
            align-items: center;
            color: white;
            font-size: 18px;
            font-family: Trajan;

            .form-control {
                background-color: #cdb800;
                border-top: 0ch;
                border-left: 0ch;
                border-right: 0ch;
                border-color: #222222;
                color: white;
                margin-left: 10px;
                width: unset;
            }
        }
    }
}