h1, h2, h3 {
  font-family: Trajan Pro;
}

a {
  font-family: sans-serif;
}

$theme-colors: (
  'primary': rgb(68, 5, 67),
  'success': green,
  'danger': #e80303,
  'info': rgb(0, 224, 227)
);

// flex
.flex-d {
  display: flex;
  flex-direction: column;
}

// color
.snow {
  color: snow;
}

.text-yellow {
  color: rgb(184, 184, 0);
}

// font
.f-arial {
  font-family: 'Arial Black';
}

// font-size
.f-25 {
  font-size: 25px;
}

.f-30 {
  font-size: 30px;
}

/* import bootstrap to set changes */
@import '~bootstrap/scss/bootstrap';
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css");